{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-info text-center">Paying for {{ product.name }}</h1>
    <form class="product-form" method="post" action="">
       <p>{{ success }}</p>
        {% csrf_token %}
        <input value="{{ product.price }}" required readonly class="form-control" placeholder="Update Name" name="p-price" type="text"><br>
        <input required class="form-control" placeholder="Phone Number" name="c-phone" type="text"><br>
        <input class="btn btn-info" value="Pay" type="submit">
        <p>{{ prod_name }}</p>
        <p>{{ prod_qqty }}</p>
        <p>{{ prod_size }}</p>
        <p>{{ prod_price }}</p>
    </form>
</div>
{% endblock %}